.row.center
  .twelvecol
    %p= image_tag('logo_large.png', :width => 499, :height => 230, :class => 'center')
    %h1 Coming soon to Greenville, SC

.row.center
  .twelvecol
    %h3 Curious? Questions?
    %p For any questions, including application procedures, please contact us.
  .fourcol
  .fourcol
    %p
      %a.button{:href => 'javascript:void(0);'} Get in touch!
    #contact_information
      %h3 Telephone
      %p Reach us by phone at 571.439.5901.
      %h3 Email
      #contact_form
        = render :partial => "email_form"

.row.center
  .twelvecol
    %p.center#ami_logo
      %a{:href => 'http://www.montessori-ami.org/', :class => 'image'}= image_tag('logo_ami.jpg', :width => 92)
  
  .fourcol.last
  
